<%- include('./partials/header') %>

  <body>
  
    <br>
    <br>
    <br>
    <h1>Joergen's Jellies</h1>
    <br>
    <br>
    <form action="" method="">
      <button type="submit">Home</button>
    </form>
    <form action="" method="">
      <button type="submit">Jellies</button>
    </form>
    <form action="" method="">
      <button type="submit">Cart</button>
    </form>
  </body>
</html>
