body {

  margin: 0;
  height: 100vh;
  padding: 0px;
  text-align: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif, bold;
  background: linear-gradient(cornflowerblue, cornflowerblue);

}

nav, ul {
  margin: 0%;
  background-color: #4d4dfa;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  font-size: 5vmin;
}
#bld {
  font-weight: 900;

}
#bdy {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
table {
  display: inline; 
   
}
button {
  font-size: 5vmin;
  padding: 5px;
  background-color: cornflowerblue;
}
a {
  color: rgb(0, 0, 0);
}
section {
  padding: 50px;
  text-align: center;  
  
}
h1, h2 {
  text-align: center;
  padding: 20px;
  flex-direction: row;
}
#show-product {
  /* display: flex; */
  flex-direction: column;
  display: inline-flex;
  align-items: center;
  text-align: center;
  width: 35vw;
}
#show-image {
  width: 40vh;
}
#add-review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 400px;
  margin: auto;

}
#rev {
  display: inline; 

}
/* .box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow: 
    0 0.25em 0 0 black,
    0 0.5em 0 0 black;
} */