<%- include('../partials/header') %>
<body>
    <br>
    <h1>Joergen's Jellies</h1>
    <br>
    <hr>
    <div id="bdy">
<% product.forEach(function(p) { %>  
    <section id="show-product" >
        <img src="../images/catPic.jpeg" id="show-image">
          <h4><%= p.name %> </h4>
          <div id="bld">Description</div>
          <div><%= p.description %></div>
          <div id="bld">Price</div>
          <div><%= p.price %></div>
          <% if (user) { %>
          <form method="GET" action="/carts">
              <button type="submit">Add to Cart</button>
          </form>
          <% } %>
    </section>

      <% }); %>
    </div>    
</body>
</html>