<%- include('./partials/header') %>
<body>
    <h1>TEST 1</h1>
<!-- Product page -->
    <img src="/public/images/catPic.jpeg" id="show-image">

    <section id="show-page">
        <div>ejs product.name </div>
        <div>Description</div>
        <div>ejs product.description</div>
        <div>Price</div>
        <div>ejs product.price </div>
        <form method="GET" action="/ ejs product.id /cart">
            <button type="submit">Add to Cart</button>
        </form>
        
    </section>
</body>
</html>